name: core-ts-nullish CI
on:
  push:
    branches: [main]
    paths:
      - "packages/core-ts-nullish/**"
      - ".github/workflows/core-ts-nullish.yml"
      - ".github/workflows/module.yml"
  pull_request:
    branches: [main]
    paths:
      - "packages/core-ts-nullish/**"
      - ".github/workflows/core-ts-nullish.yml"
      - ".github/workflows/module.yml"

jobs:
  module-flow:
    uses: ./.github/workflows/module.yml
    secrets: inherit
    with:
      package-path: packages/core-ts-nullish
